<div class="container">

<h2>Received</h2>
	<% @messages_received.each do |msg| %>

		<div class="message <%= msg.message_type%>">
			<h5><%= link_to "#{msg.display_type} from #{msg.sender.name}", message_path(msg.id) %></h5>
		</div>

	<% end %><br>

<h2>Sent</h2>
	<% @messages_sent.each do |msg| %>

		<div class="message <%= msg.message_type%>">
			<h5><%= link_to "#{msg.display_type} to #{msg.sender.name}", message_path(msg.id) %></h5>
		</div>

	<% end %>
</div>