<div class="container">
	<% current_char.received_battle_requests.each do |req| %>

		<div class="message battle_request">
			<h5><%= link_to "Battle Request from #{req.sender.name}", battle_request_path(req.id) %></h5>
		</div>

	<% end %>
</div>