<div class="container">
	<div class="inn_container" style="background-image: url(<%= "/assets/#{@inn.keeper_image}" %>);">

		<div class="inn_details" >
			<h2><%= @inn.name%></h2>
			<hr>
			<p><%= @inn.greeting %></p>

			<%= link_to sleep_path(@inn.id), method: :post do %>
			<div class="button_green">
				Sleep</div>
				<% end %>



		</div>

	</div>
</div>