
<div class="container">

	<p><%= link_to "Add Random item", add_consumable_path, method: :post %></p>

	<% current_char.consumables.each do |item| %>
		<div class="item_card">
			<h3><%= link_to item.title, consume_path(item.id), method: :post %></h3>
			<p><%= item.description %></p>
		</div>
	<% end %>

</div>