
<div class="container">

	<div class="inventory_container">
	
		<% current_char.items.each do |i| %>
		<% item = i.subclass %>

			<div class="item_card" data-category="<%= i.subclass_type.downcase %>">
				<h3><%= item.name %></h3>
				<%= link_to image_tag(item.image_url), "#" %>
				<div class="item_description">
					<p><%= item.description %></p>
				</div>
			</div>
		<% end %>
	
	</div>
</div>