	<div class="splash_container">

		<div class="item_splash_panel">
			<div class="blah">
			<div class="item_constraint">
				<div class="item_details">
					<h2 id="item_title">Item Name</h2>

					<div id="item_image_holder"></div>

					<p id="item_description">Item Desc, Item Desc, Item Desc, Item Desc, Item Desc</p>
				</div>

				<div class="action_button" id="equip">
					Equip
				</div>

				<div class="action_button" id="consume">
					Consume
				</div>

				<div class="action_button" id="discard">
					Discard
				</div>

			</div>
		</div>
		</div>
	</div>
</div>
