

<% if turn.maker == @player1 %>
<div class="battle_turn defense_turn">
	<p> 
		<%= turn.display_message(:maker) %>
	</p>
<% else %>
<div class="battle_turn offense_turn">
	<p>
		<%= turn.display_message(:target) %>
	</p>
<% end %>

</div>