<div class="header user_admin_header">
  <div class="container">

        <div class="character_display_panel">

          <h3><%= current_char ? current_char.name : "No Character Selected" %></h3>
          <p><%= link_to "Select character", root_path, {class: "selection_p"} %></p>

          <div class="avatar_display">
            character avatar goes here
          </div>

        </div><!--


        --><div class="character_options_panel">

          <h3>Character options</h3>


        </div><!--


        --><div class="user_options_panel">
          <ul>

            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <%= link_to edit_user_path(current_user.id) do %><li>Edit Profile</li><% end %>
            <%= link_to :logout, method: :post do %><li>Logout</li><% end %>


          </ul>
        </div>


  </div>
</div>