<div class="header user_admin_header">
  <div class="container">

        <%= render "/layouts/user_panel" %><!--


        --><div class="user_options_panel">
          <ul>

            <li><a href="#">Edit Character</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Stats</a></li>
            <li><a href="#">Battle History</a></li>
            <%= link_to edit_user_path(current_user.id) do %><li>Edit User Settings</li><% end %>
            <%= link_to :logout, method: :post do %><li>Logout</li><% end %>


          </ul>
        </div>

  </div>
</div>