<div class="profile_panel">
		<img class="arrow" src="/images/down_arrow.png">
		<img class="arrow" src="/images/up_arrow.png" style="display: none;">

		<div class="profile_summary">
		<div class="quick_bio">
					<h2>
						Char name
					</h2>
					<p><%= "char bio" %></p>
			</div>

		</div>
		<div class="full_profile">
			This is the content for the full profile<br>
			This is the content for the full profile<br>
			This is the content for the full profile<br>
			This is the content for the full profile<br>
			This is the content for the full profile<br>
		</div>
	</div>