	<div class="splash_container">

		<div class="intro_scene_panel">
		</div>
		<div class="intro_welcome_panel">
			<h3>Welcome!</h3>
			<p>Before you start exploring, let's take a look around your home town. It's a small place, so it shouldn't take us long!</p>

			<div class="splash_button" data-progression="intro">
				Continue</div>
		</div>

		<div class="intro_danger_panel">
			<h3>Warning!</h3>
			<p>The woods that lead through the mountains to the next town can be dangerous so be careful.</p>

			<div class="splash_button" data-progression="danger">
				Continue</div>
		</div>

		<div class="intro_shop_panel">
			<h3>Shops</h3>
			<p>You can pick up all kinds of items at shops, food, weapons, armour, potions etc.
				The building on the right is a small shop and only stocks a handful of goods, you'll find bigger &amp; better shops later on.
			</p>

			<div class="splash_button" data-progression="shop">
				Continue</div>
		</div>

		<div class="intro_home_panel">
			<h3>Home</h3>
			<p>The building on the left is your home, you'll be able to rest here to regain hitpoints.
			</p>

			<div class="splash_button" data-progression="home">
				Continue</div>
		</div>

		<div class="intro_done_panel">
			<h3>Ready!</h3>
			<p>Well! Looks like you're ready to get going!
			</p>

			<div class="splash_button" data-progression="done">
				Continue</div>
		</div>


		
	</div>

	</div>